<!DOCTYPE html>
<html>
{% load static %}

<head lang="en">
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build your Resume</title>
    <link rel="shortcut icon" href="{% static 'images/earth.ico' %}">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>

<body>
{% block body %}
<div class="container">
  {% block container %}
  {% endblock container %}
</div>

{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock javascript %}
{% endblock body %}
</body>
</html>