<fieldset name="contact-info">
  <section class="basic-info">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>
          <input type="text" class="text-center" name="name" placeholder="Full Name"/>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>
          <input type="text" name="street" placeholder="Street"/>
        </p>
        <p>
          <input type="text" name="city-state" placeholder="City & State"/>
        </p>
      </div>
      <div class="col-xs-6 text-right">
        <p>
          <input type="text" class="text-right" name="phone" placeholder="Phone"/>
        </p>
        <p>
          <input type="text" class="text-right" name="email" placeholder="Email"/>
        </p>
      </div>
    </div>
  </section>
</fieldset>
