<fieldset name="education">
  <section class="education">
    {% include 'svg/header-svg.html' %}
    <header class="row">
        <div class="col-xs-12">
            <h1><input type="text" name="section-title" placeholder="Section Title"/></h1>
        </div>
    </header>

    <article>
        <div class="row">
            <div class="col-xs-7 col-xs-offset-1">
                <strong><input type="text" name="title" placeholder="Title"/></strong>
                <em><input type="text" name="location" placeholder="Location"/></em>
            </div>
            <div class="col-xs-4 text-right">
                <span><input type="text" name="completion-date" placeholder="Completion Date"/></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <p><input type="text" name="description" placeholder="Description"/></p>
            </div>
        </div>
    </article>
  </section>
</fieldset>
