<fieldset>
<section class="general-list-section">
    <header class="row">
        <div class="col-xs-12">
            <h1><input type="text" name="section-title" placeholder="Section Title"/></h1>
        </div>
    </header>

    <article>
        <div class="row">
            <div class="col-xs-2 text-right">
                <p>
                  <strong><input type="text" class="text-right" name="title" placeholder="Title"/></strong>
                </p>
            </div>
            <div class="col-xs-10">
              <p><input type="text" name="line" placeholder="Line"/>
                {% include 'svg/header-svg.html' %} </p>
            </div>
        </div>
    </article>

</section>
{% include 'svg/header-svg.html' %}
</fieldset>