{% extends 'admin/change_form.html' %}

{% load staticfiles %}
{% block extrastyle %}
  {{ block.super }}
  {% if opts.model_name == "resume" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="{% static 'js/admin.js' %}"></script>
  {% endif %}
{% endblock %}
