<section class="general-list-section">
    {% include 'svg/header-svg.html' %}
    <header class="row">
        <div class="col-xs-12">
            <h1>{{ section.section_title }}</h1>
        </div>
    </header>

    {% for item in section.genericlistitem_set.all %}
    <article>
        <div class="row">
            <div class="col-xs-2 text-right">
                <p>
                    <strong>{{ item.title }}</strong>
                </p>
            </div>
            <div class="col-xs-10">
                {% for line in item.lines.all %}
                    <p>{{ line.text }}</p>
                {% endfor %}
            </div>
        </div>
    </article>
    {% endfor %}

</section>
