{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'resume/css/resume.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'resume/css/creator.css' %}" />
{% endblock stylesheets %}

{% block container %}
<form action="." method="post">
  <main>

    {% for fieldset in obj.all_fieldsets %}
      {% include fieldset %}
    {% endfor %}

  </main>
</form>


{% endblock %}


{% block javascript %}
{{ block.super }}
 <script type="application/javascript" src="{% static 'resume/js/creator.js' %}" ></script>

{% endblock %}}