{% extends 'base/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'resume/css/resume.css' %}" />
{% endblock stylesheets %}

{% block container %}
<main class="{% if render_static %}render-static{% endif %}"
    {% if resume.font %}style="font-family: {{ resume.font }}"{% endif %}>

    {% for section in resume.get_all_templates %}
      {% include section %}
    {% endfor %}

</main>
{% endblock container %}

{% block javascript %}
{{ block.super }}
 <script type="application/javascript" src="{% static 'resume/js/resume.js' %}" ></script>
{% endblock %}}