<section class="web-stack">
  <header>
    <h1>Web Development Stacks</h1>
  </header>
  <article class="row">
    <div class="col-xs-12 col-sm-1">
      <strong>python</strong>
    </div>
    <div class="col-xs-12 col-sm-11">
      <p>psql (db), python/django/celery (application), uwsgi (application server), nginx (web server)</p>
    </div>
  </article>
  <article class="row">
    <div class="col-xs-12 col-sm-1">
      <strong>lamp</strong>
    </div>
    <div class="col-xs-12 col-sm-11">
      <p>mySQL (db), php/wordpress (application), apache (web server)</p>
    </div>
  </article>
</section>